{% extends 'base.html' %}
{% load humanize %}

{% block  content %}
    <div class="jumbotron-fluid">
        <h1 class="display-4 text-info text-center border-bottom mt-5 mb-4 font-weight-light">
            Property Management
        </h1>
    </div>
    <div class="container">
        <div class="d-flex flex-column">
            <h5 class="lead text-info text-center border-bottom mt-5 font-weight-light">HOTELS</h5>
            <div class="row">
                {% for object in user_property %}
                    {% if object.category.name == 'HOTEL' %}
                        {% include 'partials/property_datails.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <h5 class="lead text-info text-center border-bottom mt-5 font-weight-light">APARTMENTS</h5>
            <div class="row">
                {% for object in user_property %}
                    {% if object.category.name == 'APARTMENT' %}
                        {% include 'partials/property_datails.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <h5 class="lead text-info text-center border-bottom mt-5 font-weight-light">GUESTHOUSES</h5>
            <div class="row">
                {% for object in user_property %}
                    {% if object.category.name == 'GUESTHOUSE' %}
                        {% include 'partials/property_datails.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <h5 class="lead text-info text-center border-bottom mt-5 font-weight-light">RENTALS</h5>
            <div class="row">
                {% for object in user_property %}
                    {% if object.category.name == 'RENTAL' %}
                        {% include 'partials/property_datails.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}